@import '../settings.scss';

$block: '.o-Credentials';

#{$block}__wrapper {
  width: 90vw;
  margin: 1em auto;
  background-color: $darkBlue;
  padding: 1em;
}

#{$block}__heading {
  text-align: center;
}

#{$block}__inputs-wrap {
  margin: auto;
  width: 150px;
}

#{$block}__label {
  margin-bottom: .25em;
  margin-top: .25em;
  font-size: 1em;
}

#{$block}__button {
  display: block;
  padding: .5em 1em;
  width: $defaultInputWidth;
  margin: 1em auto;
  margin-bottom: .5em;
  background-color: $accentOrange;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $accentOrangeLighter;
  }
}
