@import '../../global-scss/settings.scss';
$block: '.UserDetailsPanel';

#{$block}__wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: $darkBlue;
  color: $gray1;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

#{$block}__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#{$block}__sell-btn {
  @include button($accentGreen);
  &--wide {
    width: 100px;
  }
}

#{$block}__buy-btn {
  @include button($accentBlue);
}

#{$block}__buy-modal {
  min-height: 300px;
  width: 500px;
  background-color: $gray1;
  color: $darkBlue;
}

#{$block}__buy-header {
  background-color: $accentBlue;
  text-align: center;
  padding: 1em;
  position: relative;

  h3 {
    margin: 0;
  }
}

#{$block}__buy-body {
  padding: 1em;
}

#{$block}__buy-modal-btn {
  @include button($accentOrange);
}