// Colors
$bgBlue: #464b54;
$darkBlue: #33363a;

$accentGreen: #50e56d;
$accentBlue: #4db3f2;
$accentOrange: #e0b84a;
$accentOrangeLighter: #f4cc5f;

// Fonts
$font1: sans-serif;

// Important Styles
$defaultInputWidth: 150px;
