// Colors
$bgBlue: #464b54;
$darkBlue: #33363a;

$accentGreen: #50e56d;
$accentBlue: #4db3f2;
$accentOrange: #e0b84a;
$accentOrangeLighter: #f4cc5f;

$gray1: #dadada;
$gray2: #c9c9c9;

$dark1: #333;

// Fonts
$font1: sans-serif;

// Important Styles
$defaultInputWidth: 150px;
$pageMaxWidth: 1280px;


// Mixings
@mixin button($bgColor) {
  border: 0;
  padding: .5em 1em;
  border-radius: 4px;
  margin: 0 .5em;
  box-sizing: border-box;
  font-size: .8em;
  background-color: $bgColor;
  cursor: pointer;
  border: 2px solid $bgColor;
  font-weight: 600;
  outline: none;

  &:hover {
    border: 2px solid white;
  }
}
