@import './settings';

// Global Classes
.Global-max-width {
  max-width: 1280px;
  margin: auto;
}

.Global-input {
  padding: .35em .5em;
  border-radius: 3px;
  border: 0;
  width: $defaultInputWidth;
  background-color: $bgBlue;
  border: 1px solid $bgBlue;
  color: white;
  outline: none;
  box-sizing: border-box;

  &:focus {
    border: 1px solid $accentBlue;
  }
}